/**
 * (optional) define here the style definitions which should be applied on the slider container
 * e.g. width including further controls like arrows etc.
 */
 .carousel {
   position: absolute;
   left: 0;
   right: 0;
   bottom: 40px;
 }

.carousel__container {
  position: relative;
  max-width: 1700px;
  margin: auto;
}

.carousel__wrap {
  position: relative;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
}

.carousel__slides {
  @include list-unstyled;
  display: flex;
}

// TODO: bad customize tiny slider controls
.tns-nav {
  display: none;
}

.carousel__prev,
.carousel__next {
  position: absolute;
  top: 50%;
  z-index: 300;
  margin-top: -40px;
  width: 40px;
  height: 40px;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  outline: 0;
  cursor: pointer;
  &:disabled {
    pointer-events: none;
    opacity: 0.4;
  }
}

.carousel__prev {
  left: -60px;
  background-image: url(../../img/back.png);
  @include max(1820) {
    left: 0;
  }
}

.carousel__next {
  right: -60px;
  background-image: url(../../img/next.png);
  @include max(1820) {
    right: 0;
  }
}
