.card {
  position: relative;
  user-select: none;
  cursor: pointer;
  &--lock {
    &::after {
      content: '';
      position: absolute;
      right: 20px;
      top: 15px;
      width: 18px;
      height: 18px;
      background-image: url(../../img//lock-white.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
    &:hover {
      &::after {
        display: none;
      }
    }
  }
}

.card--lock:hover .card__image {
  filter: blur(10px);
}
.card--lock:hover .card__back {
  opacity: 1;
  visibility: visible;
}

.card__sides {
  position: relative;
}

.card__image {
  position: relative;
  height: 122px;
  background-position: center;
  background-size: cover;
  border-radius: 3px;
}

.card--lock .card__image {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(#000, 0.3);
  }
}

.card--lock:hover .card__image {
  &::after {
    display: none;
  }
}

.card__back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px 20px;
  text-align: left;
  color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all .25s ease;
  will-change: opacity;
}

.card__unlock {
  margin-bottom: 20px;
  font-size: 14px;
  background-image: url(../../img/lock.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
}

.card__name {
  padding: 15px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
