//user-nav
.user-nav {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-nav__wrap {
  display: flex;
  align-items: center;
}

.user-nav__name {
  margin-right: 25px;
  text-transform: uppercase;
}

.user-nav__avatar {
  width: 60px;
  height: 60px;
  margin-right: 25px;
  border-radius: 50%;
}

.user-nav__arrow {
  display: block;
  width: 12px;
  height: 7px;
  background-image: url(../img/down.png);
  background-size: 12px 7px;
}

.user-nav__bar {
  display: flex;
  align-items: center;
}

.user-nav__info {
  margin-left: 25px;
}

.user-nav__login {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
}

.user-nav__rank {
  font-size: 12px;
}
