html {
  font-size: 16px;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $font-family-base;
  color: $body-color;
  height: 100vh;
  min-width: 1170px;
  background-color: $body-bg;
  background-image: linear-gradient(135deg, hsla(266, 27%, 58%, 0.5) 30%, hsla(37, 71%, 66%, 0.5));
}

.container {
  max-width: 1830px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

a {
  &:link,
  &:hover,
  &:focus,
  &:active,
  &:visited {
    text-decoration: none;
  }
}
