@font-face {
  font-family: 'Exo 2';
  src: url(../fonts/exo2-regular.woff2);
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}
@font-face {
  font-family: 'Exo 2';
  src: url(../fonts/exo2-semibold.woff2);
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
}
@font-face {
  font-family: 'Exo 2';
  src: url(../fonts/exo2-bold.woff2);
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
}
@font-face {
  font-family: 'Questrial';
  src: url(../fonts/questrial-regular.woff2);
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}
