//***** Colors
$color-primary: #1976D2 !default;
$text-muted: #999 !default;
$body-bg: #000 !default;
$body-color: #fff !default;

// container
$container-max-width: 1200px;

//***** Font
$font-family-base: 'Exo 2', 'Segoe UI', Helvetica, sans-serif !default;
$font-family-head: 'Questrial', 'Segoe UI', Helvetica, sans-serif !default;
$font-size-root: 16px !default;

// buttons
$btn-padding: 10px;
$btn-color: #000;
$btn-primary-bg: #9a7f6f;
$btn-hover-bg: $btn-primary-bg;
$btn-hover-color: $btn-color;
$btn-primary-color: $btn-color;
$btn-height: 38px;
$btn-font-size: 16px;
$btn-radius: 3px;
$btn-border: 1px solid #000;
